:root{
    --ff--primary:'Tangerine','Times New Roman', cursive;
    --ff-secundary: Georgia, 'Times New Roman', Times, serif;
    --fs--primary:60px;
    --fs--secundary: 30px;
    --fs--base:45px;
    --fs--na:18px;
    --bg--transp: hsla(300, 22%, 92%, 0.719);
}

body {
    background:url("img/body-mmzen.jpg");
    background-attachment: fixed;
    background-size: cover;
}
/*texto animado*/

header {
    background: #AA076B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #61045F, hsla(323, 42%, 6%, 0.274)), url("img/portada2.jpg") fixed top no-repeat;
    width: 100%;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;     
}
.idioma{
    background-color: #AA076B;
    text-align: right;
    color: #fff;      
}

.idioma img{
    margin-left: 10px;
}
.idioma p{
    display: inline;
       
}

nav{ font-family:var(--ff--secundary);
background-color: #fff;
}
.portada{background-color: white;}
          
nav a {
    font-family:var(--ff--secundary);
    font-size: var(--fs--na);
   
}

nav li :hover {
    background-color:#e7bdd7;    
}

.nav2{
    visibility: hidden;
    z-index: 100;
    background-color: #AA076B;
}
.languaje{
    width: 30px;
    border-radius: 50%;
}
.languaje :hover{cursor: pointer;}

/*header .portada{margin-left: 220px;}*/

.bb {
    position: relative;
    color: black;
    text-align: center;
    font-family: var(--ff--primary);
    display: block;
}
.bb h1 {
    font-size: 80px;
}

.bb1 {
    position: relative;
    margin-top: 100px;
    color: black;
    text-align: center;
    font-family: var(--ff--primary);
    display: block;
}

.bb1 h1 {
    font-size: 80px;
}


.buttons .btnlight {
    font-size: 20px;
    width: 180px;
    font-family:var(--ff-secundary);
    background-color: #AA076B;
    color: white;
}

.buttons .btn-outline-light {
    font-family:var(--ff-secundary);
    font-size: 20px;
    width: 180px;
}

button{
    font-family:var(--ff-secundary); 
}
/*.servicios{
    background-color: #fff;
    padding-bottom: 20px;
}*/
.servicios h4{
    font-family: 'Tangerine', cursive;
    font-size: var(--fs--base);
    color: #AA076B;
   
}

.card{
    padding-bottom: 10px;
    margin-bottom: 50px;

}
.purple{
    color: white;
    background-color: hsla(323, 92%, 35%, 0.733);
}
span {
    font-family: 'Tangerine', cursive;
    font-size: var(--fs--secundary);
    color: white;   }

.ml6 span{
    position: relative;
    font-weight: 900;
    font-size: 70px;
    }

.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
    }

.ml6 .letter {
    display: inline-block;
    line-height: 1em;
    }

    h3{font-size: var(--fs--secundary);}

    .titulos h2 {
        font-family:'Tangerine', cursive;
        font-size: var(--fs--primary);
        color:  #AA076B;
        font-weight: 800;
    }
    
   .titulos h5{
    font-family: 'Tangerine', cursive;
    font-size: 30px;
    color: #AA076B;
   }
    .presentacion h5{
        font-family: 'Tangerine', cursive;
        font-size: 30px;
        color: #AA076B;
    }
/*text*/

.lg {
    display: inline;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(192, 0, 134, 0.781);
    width: 100%;
    height: 0;
    transition: 0.5s esay;
    overflow: hidden;
}

.overlay h2 {
    color: #fff;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.imagen {
    position: relative;
}
.imagen:hover .overlay {
    height: 100%;
    cursor: pointer;
}
.buttons .boton{ 
    background-color: #AA076B;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.image{
        transform: rotate(-20deg);
    }
.imagenes{
    width: 800px;
}    
.fab{ color: #AA076B; }
/*footer*/
.contact li {
    text-decoration: none;
    color: black;
    font-size: 35px;
    font-family: 'Tangerine', cursive;
}

#Regels{
    text-align: justify;
}
.contact {
    color: black;
}

.contact span{
    color: #AA076B;
    font-size: 35px;
}

p{font-size: 17px;}

.logo {
    width: 80px;
}
.imagenes2{
    width: 200px;
}

/*media query*/


footer{
        text-align: center;
        padding: 15px;
        background-color:#AA076B;
        color: white;
        }

@media screen and (max-width: 700px) {
    section{
        background:#e7bdd7;
        }

    header{height: 700px;}

    header .portada{margin-left: 0px;}

    
    .portada{text-align: center;}
    
    .ml6 span{
      font-size: 40px;
    }
    .buttons{padding: 15px;}
    .buttons .btnlight{margin-top: 15px;}
     
    .lead {
        font-size: 20px;
    }
    .logo{width: 60px;}
    
    .image{transform: rotate(0); text-align: center;}
    
}        
